name: 'Release'

on:
  push:
    tags:
      - '*.*.*'

env:
  PACKAGE_OUTPUT_DIRECTORY: ${{ github.workspace }}/output
  NUGET_SOURCE_URL: 'https://api.nuget.org/v3/index.json'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - name: Get Version
        id: get_version
        uses: tj-actions/branch-names@v9
        with: 
          strip_tag_prefix: ''

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release -p:Version=${{ steps.get_version.outputs.tag }} --no-restore

      - name: 'Pack project'
        run: dotnet pack --no-restore --no-build --configuration Release -p:PackageVersion=${{ steps.get_version.outputs.tag }} --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

      - name: 'Push package'
        run: dotnet nuget push ${{ env.PACKAGE_OUTPUT_DIRECTORY }}/**/*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s ${{ env.NUGET_SOURCE_URL }}
